{% extends 'layout.html.twig' %}

{% block content %}

<section>
  <div class="row align-middle">
    <div class="small-12 large-6 column">
          <h1>Métropolibre<br><small>La cité libre</small></h1>
    </div>
    <div class="small-12 large-6 column">
        <p class="excerpt">
          <em>Après avoir traversé, des heures durant, l'aride désert qui entoure Métropolibre, vous êtes enfin arrivé au pied de la Cité Urbaine. Il va maintenant falloir y entrer et vous y faire une place. N'ayez crainte, l'espace est grand et malgré ses 12 000 000 d'habitants, vous vous sentirez parfois bien seul dans les couloirs de la Cité Libre.</em>
        </p>
        <p class="call">
          Bienvenue à Métropolibre
        </p>
    </div>
  </div>
</section>

<section class="invert">
  <div class="row align-middle">
    <div class="small-12 large-4 column ">
      <h2>Historique</h2>
      <p><a href="http://www.scanthel.net/wiki/index.php?title=Anarchland#Cit.C3.A9_Urbaine_de_M.C3.A9tropolibre_.28CUrM.29" target="_blank">
        <em>Source complète</em> 
      </a></p>
    </div>

    <div class="column small-12 large-8">
      <h3>2003</h3>
      <p>Kartaga Keledaest s'exile de Seilly, la capitable d'Anarchland pour échapper à la Mafia. Elle fonde Métropolibre a l'aide de puissants robots.</p>
      <h3>2004</h3>
      <p>Métropolibre s'envole et dans une manœuvre politique parfaitement douteuse et absolument pas concertée, décide de s'installer au cœur d'Aldden, entre Prya et ce qu'il restait d'Orion.</p>
      <h3>2005-2007</h3>
      <p>La nature parfaitement anarchiste de Métropolibre florissante de cette période rend assez compliqué son historisation. Une dizaine de medium de communication coexistent, plus personne n'est vraiment sûr d'intéragir sur le même plan de réalité. Des communautés et sociétés diverses et variées voient le jour et s'éteignent progressivement : la CUrM, le GL, l'OFFCOM, ATV, Uni-Complexe, le Cercle. Certaines atteignent une renommée micromondiale : City Cowboy (agence de chasseur de prime), le StockCar Choux-Fleur (épreuve officielle des Jeux Microlympique) ou le Mystery Mansion. Métropolibre prend également une place dans la diplomatie en obtenant sa voix à l'Organisation de l'Archipel.</p>
      <h3>2007-2016</h3>
      <p>Suite au Mystérieux Crash des Archives de 2007, les communications de Métropolibre aussi bien en interne qu'avec le reste du monde sont abruptement interrompues. On n'existe qu'avec son histoire et quand on n'en a plus, c'est un peu la merde.</p>
      <h3>2017</h3>
      <p>On sait pas où on va, on sait pas ce qu'on fait, mais on a toujours voulu proposer des choses différentes et nouvelles. Et si t'es pas trop bête, on peut avoir besoin de toi.</p>

    </div>
  </div>
</section>


<section>
  <div class="row align-middle">
    <div class="small-12 large-6 column ">
      <h2>Géographie &amp; population</h2>
    </div>

    <div class="column small-12 large-6">
      <p>La Cité Libre de Métropolibre existe dans l'imagination cybervirtuelle de ceux qui décident d'y élire domicie. Officiellement restreinte à un petit tas de pixels sur la carte établie du Micromonde Francophone, coincée entre Prya et ce qui fut le grande Province Orion et est maintenant un pays de kidanals du nom de Mezenas, Métropolibre possède une structure fractale dont la surface, si on devait la mesurer, serait quelques ordres de grandeurs au-dessus de celle de l'enveloppe de l'univers.</p>
      <p>Cela étant dit, la majeure partie de cet espace est parfaitement innocupé et est prêt à accueillir votre micro-communauté de hippies aux cheveux gras.</p>
    </div>
  </div>
</section>

<section class="invert">
  <div class="row">
    <div class="small-12 large-4 column align-self-middle">
      <h2>Communautés</h2>
    </div>

    <div class="small-12 large-8 column ">
        <div class="row communautes">
          <div class="column small-4 large-3 align-self-middle">
            <a class="communaute" href="/communaute/">CUrM</a>
          </div>
          <div class="column small-4 large-3 align-self-middle">
            <a class="communaute" href="/communaute/">GL</a>
          </div>
          <div class="column small-4 large-3 align-self-middle">
            <a class="communaute" href="/communaute/">Mafia</a>
          </div>
          <div class="column small-4 large-3 align-self-middle">
            <a class="communaute" href="/communaute/">Le Cercle</a>
          </div>
          <div class="column small-4 large-3 align-self-middle">
            <a class="communaute" href="/communaute/">Little Firenze</a>
          </div>
          <div class="column small-4 large-3 align-self-middle">
            <a class="communaute" href="/communaute/">Uni-Complexe</a>
          </div>
          <div class="column small-4 large-3 align-self-middle">
            <a class="communaute" href="/communaute/">Eurobe en Exil</a>
          </div>
          <div class="column small-4 large-3 align-self-middle">
            <a class="communaute" href="/communaute/">+</a>
          </div>
        </div>
    </div>
  </div>
  
</section>

<section>
  <div class="row align-middle">
    <div class="small-12 large-6 column">
      <h2>Concept</h2>
    </div>

    <div class="small-12 large-6 column">
      <p>Métropolibre est un jeu de rôle en ligne d'une catégorie un peu particulière : il s'agit d'une nation virtuelle. Vous y incarnez un personnage vivant sur un territoire supposément physique.</p>
      <p>Que vous soyiez plus excité par la perspective d'interminables débats pour le contrôle des clés de la Cité ou par la lecture de 5000 signes sur les aventures improbables de Brun le Litchi dans les caves de Little Firenze à la recherche de la structure architecturale de la cité, Métropolibre est le lieu pour venir exprimer toutes ces histoires que vous avez en tête.</p>
      <p class="call">
        <a href="/subscribe" class="button">Rejoignez-nous !</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}