<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="MetropolibreApp"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Metropolibre - La Cité Libre</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="fb:app_id" content="MY_FB_APP_ID"> 

  <meta property="og:title" content="Métropolibre"> 
  <meta property="og:description" content="La Cité Libre">  
  <meta property="og:image" content="http://{{ global.request.host }}{{ global.request.basepath }}/img/og-image.jpg">
  <meta property="og:url" content="http://{{ global.request.host }}">
  <meta property="og:type" content="website"> 

  {# CSS external files #}
  <link href="https://fonts.googleapis.com/css?family=Quicksand|Work+Sans:400,800" rel="stylesheet">
  <link rel="stylesheet" href="{{ global.request.basepath }}/dist/css/metropolibre.css">
</head>
<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  
  {# Navbar #}
  {# include 'block/navbar.html.twig' #}

  {# Content block #}
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <footer>
    <div class="row expanded align-middle">
      <div class="column medium-12 footer-content">&copy;2005 - {{'now'|date('Y')}} Cité Libre de Métropolibre</div>
    </div>
  </footer>

  {# Facebook #}
  {# <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=MY_FB_APP_ID&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> #}

  {# Twitter  #}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  {# Javascript external files #}
  <script src="{{ global.request.basepath }}/dist/js/metropolibre.js"></script>
  {% block javascript %}
  {% endblock %}

</body>
</html>
