$black: #333;
$white: #eee;
$grey: #ccc;
$darkgrey: #666;

body{font-family: "Work Sans";color:$black;}
h1,h2,h3,h4,h5{ font-family: QuickSand;}
a{}


.excerpt{font-size: 1.2em; font-weight: 300;}
.call{font-size: 1.3em;font-weight: 800;}

.container{
    section{
        display: flex; padding-top: 1em; padding-bottom: 1em;
        .row{flex-grow:1;}
        background-color: white; color: $black;
        &.invert{background-color: $black; color: $white;}

        .communautes{
            .column{
                display: flex;
                &:hover{background-color: $darkgrey;}
                .communaute{
                    display: flex; flex-grow:1; width: 100%;
                    height: 200px;  overflow: hidden;
                    font-size: 1.3em;font-weight: 800;
                }
            }    
        }
        

        @include breakpoint(medium up){
            min-height:500px;
            .communautes{
                .column{
                    .communaute{
                        height: 250px;line-height: 250px;
                    }
                }
            }
        }



    }
}


footer{text-align: right; font-size: 0.8em;}