---
layout: default
---
<a href="{{ site.baseurl }}/communautés">&larr; Retour à la liste des communautés</a>

<div class="post">
 {% if page.picture%}
    <img class="community-picture" src="{{ site.baseurl }}/public/{{page.picture}}" alt="Vue de {{page.title}}" />
 {% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date"><strong>Personnages clés :</strong>{{ page.key_people }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Explorations passées de cette communauté</h2>
  {%- assign explorations = site.explorations | where: 'community', page.title -%}
  {% if explorations %}
  <ul class="related-posts">
    {% for post in site.explorations | where: 'community', page.title %}
      <li>
        <h3>
          {{ post.date | date_to_string }}
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
          by {{ post.author }}
        </h3>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <em>Pas d'exploration archivée ou connue pour le moment.</em>
  {% endif %}
</div>
